.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
  width: 62vw;
  border-radius: 30px;
}

.login-form {
  text-align: center;
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #000;
}

.ant-input-affix-wrapper {
  border-radius: 999px !important;
  padding: 10px 16px;
}

.login-button {
  border-radius: 999px !important;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  margin-top: 8px;
}

.login-button:hover {
  background-color: #7f7f81 !important;
  color: #fff !important;
}

.login-link {
  margin-top: 12px;
  display: block;
  color: #000;
}
