html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100%;
  height: auto;
}

.main-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background: #222;
  color: #fff;
}

.content {
  flex: 1;
  min-height: 100vh;
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}
