.dropdown-item {
  display: block;
  padding: 1px 4px;
  opacity: 0;
  animation: slideInLeft 0.4s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
